.calculator label {
  display: block;
}

.calculator input {
  border-radius: 5px;
  padding-left: 2px;
  border: 1px solid rgba(66, 47, 2, .35);
}

.calc-results {
  font-size: 24px;
  text-align: center;
}