.calculator {
  line-height: 20px;
}

.calculator label {
  font-size: 14px;
  color: #d2691e;
}

.calculator input {
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #d2691e;
}

.calc-results {
  font-size: 24px;
  text-align: center;
}