<div class="modal experiment-modal">
    <div class="modal-header"><h3>Simple Box Physics!</h3>
        <a class="experiment-close" data-action="close">x</a>
    </div>
    <div class="modal-body">
        <div data-elem="sketch-on-me">
        </div>
    </div>
    <div class="modal-footer"><a data-action="docs" href="docs/simple_box_experiment.html" data-bypass="true">Documentation</a></div>
</div>
<div class="modal-backdrop experiment-backdrop"></div>
</div>
