.calculator label {
  display: block;
}

.calculator input {
  border-radius: 5px;
  padding-left: 2px;
  border: 1px solid rgba(66, 47, 2, .35);
}

.calc-results {
  font-size: 24px;
  text-align: center;
}
 
.expanding-input {
  background: transparent;
  border-radius: 0 0 0 0;
  height: 45px;
  left: 135px;
  position: absolute;
  top: 0;
  transition: width 400ms linear 0ms, background 0ms linear 400ms, box-shadow 0ms linear 400ms;
  width: 35px;
  z-index: 999;
}

.expanding-input:focus {
  transition-delay: 0ms, 0ms, 0ms, 0ms;
  background-color: #000;
  color: #fff;
}


/* Will be compiled down to a single stylesheet with your sass files */
body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: sans-serif;
  color: #422f02;
}

a:link, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: #7e3d1b;
}

#footer {
  width: 100%;
  padding-top: 80px;
  padding-left: 38px;
  display: table;
}

#ad-area {
  width: 80%;
  display: table-cell;
}

.container {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
}

.header {
  display: table;
  width: 100%;
  padding-top: 10px;
}

.sub-header {
  display: table;
  height: 30px;
  margin: 0 auto;
  width: 80%;
}

.logo {
  display: table-cell;
  width: 150px;
  padding: 5px;
}

.nav {
  display: table-cell;
  width: 250px;
  vertical-align: top;
  padding: 5px;
  text-align: right;
}
.nav a {
  color: rgba(66, 47, 2, 0.85);
  font-size: 18px;
  font-variant: small-caps;
}
.nav a:after {
  content: " | ";
  color: black;
}
.nav a.last:after {
  content: "";
}

.title {
  display: table-cell;
  align: right;
}

/* random styles */
.social {
  width: 20%;
  display: table-cell;
  vertical-align: top;
  text-align: right;
}

.social-icon {
  opacity: 0.55;
}
.social-icon:hover {
  opacity: 0.75;
}

/* Experiment related styles */
.experiment-modal {
  width: 100%;
  background: none repeat scroll 0 0 rgba(221, 221, 221, 0.25);
  border-radius: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.experiment-modal button {
  font-size: 0.8em;
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid rgba(66, 47, 2, 0.35);
  color: rgba(66, 47, 2, 0.35);
  background-color: #fff;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.experiment-modal .modal-body {
  font-size: 1em;
  font-weight: 300;
}
.experiment-modal .modal-footer {
  font-size: 0.6em;
  height: 4%;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.experiment-modal .modal-header {
  height: 70px;
}
.experiment-modal .modal-header h3 {
  color: rgba(66, 47, 2, 0.35);
  font-size: 2.5em;
  line-height: 2em;
  font-weight: 100;
}

.experiment-backdrop {
  background-color: #909090;
  background-image: url("../images/texture.jpg");
}

.experiment-close {
  background-color: #fff;
  border: 1px solid rgba(66, 47, 2, 0.35);
  border-radius: 50px;
  color: rgba(66, 47, 2, 0.35);
  content: "x";
  cursor: pointer;
  right: 0;
  top: 148px;
  font-size: 14px;
  height: 21px;
  padding-left: 7px;
  width: 14px;
  position: absolute;
}

.experiment-list {
  column-count: 2;
  column-gap: 25px;
  -moz-column-count: 2;
  -moz-column-gap: 25px;
}
.experiment-list a:hover, .experiment-list a:focus {
  color: #776d6b;
}
.experiment-list a, .experiment-list a:link, .experiment-list a:active, .experiment-list a:visited {
  color: rgba(66, 47, 2, 0.35);
  display: block;
  font-size: 2em;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}
.experiment-list li {
  padding: 3px;
  margin-bottom: 6px;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
}

ul.experiment-list {
  list-style-type: none;
  margin: 0;
}

.ribbon {
  background-color: rgba(66, 47, 2, 0.25);
  overflow: hidden;
  position: absolute;
  right: -3.5em;
  top: 5.5em;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.ribbon a {
  color: #fff;
  display: block;
  border: 0;
  font: 300 81.25% "Helvetiva Neue", Helvetica, Arial, sans-serif;
  padding: 0.1em 3.5em 0.1em 3.5em;
  text-align: center;
  text-decoration: none;
}


/*# sourceMappingURL=index.css.map*/